<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>{% block title %}Blog API{% endblock %}</title>
    
    <!-- Base CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <!-- Page-specific CSS -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% include 'includes/header.html' %}
    
    {% include 'includes/navigation.html' %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    {% include 'includes/footer.html' %}
    
    <!-- Base JavaScript -->
    <script src="{% static 'js/main.js' %}"></script>
    
    <!-- Page-specific JavaScript -->
    {% block extra_js %}{% endblock %}
</body>
</html>
